header{
  background-color: lightgrey;
  padding: 15px 0;
  width: 100%;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  &__logo{
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
  &__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 20%;
  }
}

/* **** **** **** **** */

@media screen and (max-width: 768px){
  .container{
    width: 90%;
    &__menu{
      width: 40%;
      padding: 10px 0;
    }
  }
}